body {
  background-color: lightgray;
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.App {
  text-align: center;
}

.ArticlesList {
  color: black;
}

.ArticleCard {
  /* background-color: white; */
  color: black;
  display:  grid;
  grid-template-areas: "voteIncrementer info comment_count" "voteIncrementer ArticleTitle ArticleTitle";
  
  grid-template-columns: 1fr 6fr 6fr;
  border: 1px solid black;
  margin-bottom: 1%;
  width: 95%;
  background-color: white;
  height: auto;

}

.comment_count {
  grid-area: comment_count;
}

.ArticleTitle {
  grid-area: ArticleTitle;
  /* grid-column: 2 / 3; */
}

.CommentCard {
  background-color: white;
}

.info {
  grid-area: info;
}

.voteIncrementer {
  border-right: 1px solid black;
  grid-row: 1 /3;
  grid-area: voteIncrementer;
}


li {
  list-style: none;
  /* background-color: white; */
}

.UsersList {
  background-color: #202829;
  color: white;
}

.Login {
  margin: 0%;
  background-color: #202829;
  color: white;
}

.Header, .ResetHeader {
  background-color: #202829;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}


.commentsList {
  border: 1px solid black;
  margin-bottom: 2%;
  background-color: white;
  width: 95%;
}

textarea {
  resize: none;
  width: 50%;
  height: 20vh
}

a {
  color: #BA1F31;
}

.SingleArticleCard {
  background-color: white;
  margin: 2%;
  border: 1px solid black;
}

.voteButton {
  /* background-color: #202829;
  border: none;
  color: white;
  padding: 15% 45%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: x-large; */
}