.App {
  text-align: center;
}

.ArticleCard {
  display:  grid;
  /* grid-template-areas: "up username comment_count" "down article_title"
   */
  grid-template-columns: 1fr 6fr 6fr;
  border: 1px solid black;
  margin-bottom: 2%;
}

.up {
  border-right: 1px solid black;
}

.down {
  border-right: 1px solid black;
}

li {
  list-style: none
}

.Header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.ResetHeader {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.commentsList {
  border: 1px solid black;
  margin-bottom: 2%;
}